extends index 
block contenido 

    header.header
        h1 Cash Machine

    main
    .container
        h2 Seleccione una opcion
        .container-buttons
        a(href="/transacciones" class="btn") Realizar Operacion
        a(href="/sign-in" class="btn") Registrarse
