extends index 
block contenido 

    header.header.texto-centrado
        h1 Cash Machine

    .main-container
        h2.texto-centrado.ph2 Seleccione una opcion
        .container-buttons
            a(href="/transactions" class="btn texto-centrado texto-grande ") Realizar Operacion
            a(href="/signup" class="btn texto-centrado texto-grande") Registrarse como cliente
