extends index 
block contenido 

    h1 Sign In 

    form.new-record(action="/sign-in" method="POST")
        .field
            label(for="name" User Name:)
            input(type="text" id="name" name="name" placeholder="User Name")

            label(for="email" User Name:)
            input(type="email" id="email" name="email" placeholder="User Email")

        .field-send
            input(type="submit" value="Sign In" class="btn")        